<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You created a new issue</h1>
    <p>
      Issue Description: <%= @issue.description %><br>
    </p>
    <p>
      Tried Description: <%= @issue.tried_description %><br>
    </p>
    <p>
      Your problem: <%= link_to "Issue", issue_path(@issue) %><br>
    </p>
    <p>
      You will recieve email updates as new notes are added <%= @url %>.
    </p>
  </body>
</html>
