<td class="resolved_section">
  <% if @issue.resolved == false %>
    <% status = '<i class="fa fa-exclamation-triangle"></i>&nbsp'.html_safe + " Unresolved"%>
  <% else %>
    <% status = '<i class="fa fa-check"></i>&nbsp'.html_safe + " Resolved"%>
  <% end %>
  <%= status %>
</td>
