<%= render "issues/new" %>
<h3>Issues</h3>
<% @issues = Issue.where(:resolved => false) %>
<% @issues = @issues.sort_by { |i| i.created_at }.reverse! %>
<div id="issues">
  <%= render @issues %>
</div>
